html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  max-width: 100%;
  white-space: normal;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img, [style*="inline-block" i], svg, canvas, picture {
  vertical-align: middle;
}

img, svg {
  height: auto;
  max-width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li, blockquote, figure {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  appearance: none;
  cursor: pointer;
  background-color: #0000;
  border: none;
  padding: 0;
}

:root {
  --base-width-max-width: 120rem;
  --base-width-side-margin: 2rem;
}

body {
  font: 1.6rem / 1.6 sans-serif;
}

:root {
  --color: black;
  --bg-color: whitesmoke;
}

body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

body > header, body > footer {
  flex: none;
}

body > main {
  flex: auto;
}

.base-width, body > header, body > footer {
  width: calc(100% - 2 * var(--base-width-side-margin) );
  max-width: var(--base-width-max-width);
  margin-left: auto;
  margin-right: auto;
}

body > header, body > footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.invisible {
  opacity: 0 !important;
  position: absolute !important;
  left: -9999em !important;
}

.main-header {
  align-items: flex-end;
  display: flex;
}

.main-header__title {
  margin: 0;
  line-height: 1;
}

.main-header__nav {
  margin-left: auto;
}

.main-nav a {
  white-space: nowrap;
}

.main-nav > ul {
  display: flex;
}

.main-nav li {
  position: relative;
}

.main-nav > ul > li + li {
  margin-left: 1em;
}

.main-nav li ul {
  min-width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.main-nav li:hover > ul {
  display: block;
}

.main-nav li:last-child > ul {
  text-align: right;
  left: auto;
  right: 0;
}

.link-cols {
  border-top: 1px solid #181717;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  margin-top: 4rem;
  padding-top: 4rem;
  display: grid;
}

.link-cols h2 {
  margin-top: 0;
}

.main-footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

/*# sourceMappingURL=index.b10d73a7.css.map */
